{% extends 'base.html' %}
{% load static %}

{% block title %}درباره ما{% endblock %}

{% block content %}
<section class="about-section">
    <div class="about-card">

        <h1 class="about-title">دبیرستان ابن سینا</h1>

        <p class="about-text">
          ما یک تیم خلاق و متعهد هستیم که با هدف ارائه راه‌حل‌های نوآورانه در حوزه فناوری و طراحی وب فعالیت می‌کنیم.
          تمرکز ما بر کیفیت، سادگی و تجربه کاربری است. با ترکیب دانش فنی و دید هنری، تلاش می‌کنیم پروژه‌هایی بسازیم
          که هم زیبا باشند و هم کاربردی.
        </p>

        <p class="about-text">
          اگر سوالی دارید یا می‌خواهید با ما همکاری کنید، خوشحال می‌شویم از طریق ایمیل یا شبکه‌های اجتماعی با ما در تماس باشید.
        </p>


    </div>
</section>

<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
